.main {
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-bottom: 60px;
}

.main h1 {
    color: #040404;
    font-weight: 300;
    font-size: 45px;
    text-align: center;
    padding-bottom: 15px;
    font-style: italic

}

.home {
    padding: 20px;
    border: 1px solid;
    border-radius: 15px;
}

.info {
    text-align: center;

}

.container h2 {
    font-weight: 300;
    text-align: center;
    padding: 15px;
    font-style: italic
}

.recipies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}