.main {
    width: 55%;
    margin: auto;
    padding: 20px;
    margin-bottom: 60px;
}

.main h1 {
    color: #040404;
    font-weight: 300;
    font-size: 45px;
    text-align: center;

}

.home {
    background-color: #fff;
    padding: 20px;
    border: 1px solid;
    border-radius: 15px;
}


.main h2 {
    font-size: 27px;
    font-weight: 400;
    text-align: center;
}

.main img {
    width: 80%;
    margin: auto;
    display: block;
}