.my-container {
    width: 60%;
    margin: auto;
    padding: 10px;
    margin-bottom: 80px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 15px;
}

.my-container h3 {
    text-align: center;
    padding: 15px;
}

.my-recipies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}