.edit-container {
    width: 40%;
    margin: auto;
    padding: 20px;
}

h2 {
    text-align: center;
    font-family: Roboto;
    font-size: 55px;

}


.edit-container-info {
    margin: auto;
    background-color: white;
    border: 1px solid rgb(156, 152, 152);
    padding: 25px;
    border-radius: 15px;
    border: 1px solid;
    text-align: center;

}

.edit-container-info label {
    display: block;
    font-size: 18px;
    font-family: Roboto;
}

.edit-container-info input {
    background-color: #ece8e8;
    border: 0.1px solid black;
    border-radius: 10px;
    height: 29px;
    width: 60%;
    margin-bottom: 5px;
    font-size: 15px;
}

.edit-container-info textarea {
    width: 60%;
    margin-bottom: 5px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #ece8e8;
    border: 0.1px solid black;
    height: 55px;

}

button {
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    font-size: 17px;
    width: 20%;
    border-radius: 5px;
    margin: auto;
    height: 29px;
    margin: auto;
}

.errorMessage {
    color: red;
    font-size: 20px;
}