.login-register-div {
    margin-top: 10%;
    text-align: center;
    margin: auto;
    width: 420px;
    border-radius: 15px;
}

.login-register-box {
    display: block;
    width: 300px;
    background-color: white;
    border: 1px solid rgb(156, 152, 152);
    padding: 35px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid;
}

.login-register-box h2 {
    font-family: Roboto;
    font-size: 35px;
    text-align: center;
    margin-top: -10px;
}

.login-register-box label {
    display: flex;
    font-size: 18px;
}

.login-register-box input {
    background-color: #ece8e8;
    border: 0.1px solid black;
    border-radius: 5px;
    height: 33px;
    width: 100%;
    padding-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-register-box button {
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    height: 33px;
}

.login-reg-button:hover {
    color: #19283F;
    cursor: pointer;
}


p {
    font-size: 18px
}